@import '~scss/variables.scss';

.logo-img {
  margin: auto;
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.brand-img {
  display: block;
  background: url(../../assets/images/Capgemini-Brand-2017.svg);
}
.noscroll {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blur {
  position: absolute;
  left: -15px;
  top: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: -1;
  background: url(../../assets/images/background-1.jpg) !important;
  background-repeat:no-repeat !important;
  background-size: 100% !important;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
h1{
  text-align: center;
  color:  black;

}
.home-container{
  background: transparent;
  z-index: 100;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.container{
  overflow: hidden;
}