@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import 'variables';

.nav {
  width: 300px;
  transition: all 0.5s;
}
.small-nav > .nav {
  width: 60px !important;
  min-width: 60px;
  overflow: hidden;
}
mat-sidenav-container {
  height: 100vh;
}
mat-sidenav {
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.nav-content {
  transition: all 0.5s;
}
.mat-sidenav-container.no-menu  > .nav-content {
  margin-left: 0px !important;
}
*:not(.small-nav) > .nav-content {
  margin-left: 300px !important;
}
.small-nav > .nav-content {
  margin-left: 60px !important;
}
mat-card-actions {
  text-align: right;
}
form {
  margin-bottom: 10px;
  text-align: right;
}
.nav-button {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.nav-button.grey,
div.grey {
  color: $text-normal;
}
div.grey {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}
.mat-button.bottom {
  position: absolute;
  text-align: center;
  bottom: 10px;
  right: 10px;
  min-height: 36px;
  min-width: 36px;
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
}
.mat-button.bottom * {
  width: auto;
  height: auto;
  margin: 0px;
}
.mat-button.bottom .mat-button-ripple.mat-ripple {
  width: 36px;
  height: 36px;
}
.nav-icon {
  margin-top: -6px;
  margin-right: 30px;;
}
.nav-header.active {
  cursor: pointer;
}
.nav-header {
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
  height: 100px;
  background-color: $logo-bg;
  color: $logo-fg;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.small-nav > .nav .nav-header {
  font-size: 22px;
  word-wrap: break-word;
  padding: 15px 25px 0px;
  line-height: 20px;
  height: 120px;
}
.small-nav > .nav .nav-button {
  padding: 0px;
}
.small-nav > .nav .nav-button .nav-icon,
.small-nav > .nav .nav-button .user-info > div,
.small-nav > .nav .nav-icon.mat-font.mat-icon.mat-list-icon.material-icons {
  margin: auto;
  width: 60px;
  text-align: center;
}
.small-nav > .nav .nav-button .nav-icon.mat-font,
.small-nav > .nav .nav-icon.mat-font.mat-icon.mat-list-icon.material-icons {
  height: 40px;
  font-size: 40px;
  line-height: 40px;
}
.small-nav > .nav img.avatar {
  margin-left: 10px;
}
.small-nav > .nav span.button-text {
  display: block;
  text-align: center;
  max-width: 60px;
  width: 60px;
  font-size: 9pt;
  font-variant: small-caps;
  word-wrap: break-word;
  word-break: break-word;
  margin-right: 0;
  white-space: pre-line;
  line-height: 9pt;
}
.nav img.avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 14px;
  margin-top: 2px;
}
.nav .user-info div {
  height: 44px;
  line-height: 44px;
  display: flex;
}
.small-nav > .nav .user-info .nav-icon.mat-icon,
.nav .user-info .nav-icon.mat-icon {
  margin-top: 8px;
}
.nav .user-info .avatar,
.nav .user-info .button-text {
  display: inline-block;
}
.small-nav > .nav .user-info .avatar,
.small-nav > .nav .user-info .button-text,
.small-nav > .nav .user-info div {
  display: block;
  height: auto;
}
.small-nav > .nav .nav-button.inactive {
  cursor: initial;
}
.active-link {
  color: $primary !important;
}
.menu-settings {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
