<div *ngIf="particlesEnabled">
  <div *ngFor="let particlesParam of particlesParams">
    <particles *ngIf="particlesEnabled" [params]="particlesParam"
               [style]="particlesStyle" [width]="particlesWidth"
               [height]="particlesHeight">
    </particles>
  </div>
</div>
<mat-sidenav-container [ngClass]="((isEditor || !expanded ? 'small-nav' : '') + ' ' + (isMenuDisplayed() ? '' : 'no-menu'))" >
  <mat-sidenav class="nav" *ngIf="isMenuDisplayed()" mode="side" opened="{{isMenuDisplayed()}}">
    <div *ngIf="!(recruiterMode && isEditor)" routerLink="/" class="nav-header active" title="Go back home">
        Titan
    </div>
    <div *ngIf="recruiterMode && isEditor" class="nav-header">
        Titan
    </div>
    <button *ngIf="buttonsDisplay['account'] && currentUser && !(recruiterMode && isEditor)"
            class="user-info nav-button grey" routerLink="/account/"
            routerLinkActive="active-link" mat-button
            title="Account preferences">
      <div>
        <img *ngIf="currentUser.imageUrl" class="avatar" src="{{currentUser.imageUrl}}"
             alt="{{currentUser.login}}">
        <mat-icon *ngIf="!currentUser.imageUrl" mat-font-icon="fa-user-circle-o"
            class="fa fa-user-circle-o fa-2x nav-icon">
        </mat-icon>
        <span class="button-text">{{currentUser.login}}</span>
      </div>
    </button>
    <button *ngIf="buttonsDisplay['login'] && !currentUser && !(recruiterMode && isEditor)" class="nav-button grey" mat-button (click)="openLoginModal()"
        title="Login">
      <mat-icon mat-font-icon="fa-sign-in" class="fa fa-sign-in fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Login</span>
    </button>
    <button *ngIf="buttonsDisplay['login'] && currentUser && !(recruiterMode && isEditor)" class="nav-button grey" mat-button (click)="logout()"
        title="Logout">
      <mat-icon mat-font-icon="fa-sign-out" class="fa fa-sign-out fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Logout</span>
    </button>
    <mat-menu #settingsMenu="matMenu" prevent-close="true">
      <form *ngIf="!(recruiterMode && isEditor)" class="menu-settings">
        <mat-form-field (click)="$event.stopPropagation();">
          <mat-select placeholder="Language" [(ngModel)]="selectedLang" name="lang"
                      (selectionChange)="onLanguageChangeEvent()" [disabled]="!canChangeLanguage()">
            <mat-option *ngFor="let lang of langs" [value]="lang.language"
                        (click)="onMenuItemClick()">
              {{lang.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field (click)="$event.stopPropagation();">
          <mat-select placeholder="Theme" [(ngModel)]="selectedTheme" name="theme"
                      (selectionChange)="onThemeChangeEvent()">
            <mat-option *ngFor="let theme of themes" [value]="theme.realName"
                        (click)="onMenuItemClick()">
              {{theme.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-menu>
    <button *ngIf="buttonsDisplay['settings'] && currentUser && !(recruiterMode && isEditor)" mat-button class="nav-button grey" [matMenuTriggerFor]="settingsMenu"
            title="Set your favorite language/theme">
      <mat-icon mat-font-icon="fa-cogs" class="fa fa-cogs fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Settings</span>
    </button>
    <button *ngIf="buttonsDisplay['courses'] && !recruiterMode" class="nav-button grey" routerLink="/courses/" routerLinkActive="active-link"
            mat-button title="List all courses">
      <mat-icon mat-font-icon="fa-graduation-cap" class="fa fa-graduation-cap fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Courses</span>
    </button>
    <button *ngIf="buttonsDisplay['challenges'] && !recruiterMode" class="nav-button grey" routerLink="/challenges/" routerLinkActive="active-link"
            mat-button title="List all challenges">
      <mat-icon mat-font-icon="fa-university" class="fa fa-university fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Challenges</span>
    </button>
    <button *ngIf="buttonsDisplay['scoreboard'] && !recruiterMode" class="nav-button grey" routerLinkActive="active-link" routerLink="/scoreboard/"
            mat-button  title="Display scoreboard">
      <mat-icon mat-font-icon="fa-bar-chart" class="fa fa-bar-chart fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Scoreboard</span>
    </button>
    <button *ngIf="buttonsDisplay['teams'] && !recruiterMode" class="nav-button grey" routerLink="/teams/" routerLinkActive="active-link"
            mat-button title="List all teams">
      <mat-icon mat-font-icon="fa-users" class="fa fa-users fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Teams</span>
    </button>
    <button *ngIf="recruiterMode && !isEditor" class="nav-button grey" routerLinkActive="active-link" routerLink="/applicants/create"
            mat-button title="Add an applicant">
      <mat-icon mat-font-icon="fa-user-plus" class="fa fa-user-plus fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Create</span>
    </button>
    <button *ngIf="recruiterMode && !isEditor" class="nav-button grey" routerLinkActive="active-link" routerLink="/applicants/list"
            mat-button title="List all applicants">
      <mat-icon mat-font-icon="fa-users" class="fa fa-users fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Applicants</span>
    </button>
    <button *ngIf="buttonsDisplay['recruiter'] && isRecruiter && !isEditor" class="nav-button grey {{recruiterMode ? 'active-link' : ''}} mat-button"
            mat-button title="{{recruiterMode ? 'Disable recruiter mode' : 'Switch to recruiter mode'}}"
            (click)="setRecruiterMode(!recruiterMode)">
      <mat-icon mat-font-icon="fa-address-card" class="fa fa-address-card fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Recruiter</span>
    </button>
    <button *ngIf="recruiterMode && isEditor" class="nav-button grey mat-button"
            mat-button title="Time remaining"
            (click)="switchTimerDisplay()">
      <mat-icon class="fa-2x nav-icon mat-font" mat-list-icon>
        timer
      </mat-icon>
      <span class="button-text">{{getTimeRemaining(true)}}</span>
    </button>
    <button *ngIf="recruiterMode && isEditor" class="nav-button grey mat-button"
            mat-button title="Stop test"
            (click)="stopTimer()">
      <mat-icon mat-font-icon="fa-stop-circle" class="fa fa-stop-circle fa-2x nav-icon mat-font">
      </mat-icon>
      <span class="button-text">Stop&nbsp;Test</span>
    </button>
    <button class="nav-button grey bottom" mat-button *ngIf="!isEditor"
        title="{{expanded?'Collapse':'Expand'}}" (click)="resizeMenu()">
      <mat-icon mat-font-icon="fa-caret-square-o-left"
                class="fa fa-caret-square-o-{{expanded?'left':'right'}} fa-2x nav-icon">
      </mat-icon>
    </button>

  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<button *ngIf="isGdprDisplayed()" [ngClass]="gdprButtonClass" mat-raised-button (click)="openGdprModal()"
    title="Show {{gdprTitle}}">
  <mat-icon mat-font-icon="fa-lock" class="fa fa-lock fa-2x nav-icon">
  </mat-icon>
  <span class="button-text">{{gdprTitle}}</span>
</button>
