@import '~scss/variables.scss';

.account-container {
  width: 80%;
  margin: auto;
}
.account-container .mat-form-field {
  width: 100%;
}
.reduced-panel {
  float: right;
}
img.image-preview,
.mat-icon.image-preview {
  width: 100px;
  font-size: 100px;
  border-radius: 100%;
}
.account-container .mat-form-field.avatar-input {
  flex: 1;
  margin-right: 40px;
}
.avatar-img-container {
  width: 100px;
  display: inline-block;
}
.avatar-container {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}
.password-icon {
  cursor: pointer;
}
.password-icon:hover,
.password-icon:focus {
  color: $primary-light;
}
.password-icon:active {
  color: $primary;
}
