* {
  overflow: hidden;
  margin: 0px;
}

body {
  background-color: #000000;
}

center {
  margin: auto;
  /* height: calc(100% - 40px); */
  width: calc(100% - 40px);
  /* padding-top: 20px; */
}

embed {
  /* height: calc(100% + 20px); */
  transition: margin-top 0.3s;
}

embed:hover {
  /*margin-top: -20px;*/
  transition: margin-top 0.1s;
}
