
<h3 class="title">{{title}}</h3>
<form (ngSubmit)="submitLogin()" autocomplete="{{autocomplete ? 'on' : 'off'}}">
  <mat-form-field class="full-width">
      <input [(ngModel)]="login" matInput placeholder="Login" name="login"
             autocomplete="{{autocomplete ? 'on' : 'off'}}">
  </mat-form-field>
  <mat-form-field class="full-width">
      <input [(ngModel)]="password" type="password" matInput placeholder="Password"
             name="password" autocomplete="{{autocomplete ? 'on' : 'new-password'}}">
  </mat-form-field>
  <p class="red">
    {{msgError}}
  </p>
  <button type="submit" class="right" mat-raised-button color="primary">Login</button>
</form>
