@import 'variables';

/* .login-page { */
.mat-card.small-card {
  width: 30%;
  height: auto;
  display: block;
  padding: 5vh 5vw;
  margin: 5vh 5vw;
}
.login-page > h1,
.login-page > h2 {
  color: $primary;
  font-variant-caps: all-small-caps;
  text-align: center;
  white-space: nowrap;
  margin: 0px;
  line-height: 0.75em;
  font-family: Impact, fantasy, sans-serif;
}
.login-page > h2 {
  font-size: 4.75em;
}
.login-page > h1 {
  font-size: 7.75em;
  margin-bottom: 50px;
}
.login-page > form .mat-form-field {
  display: block;
}
.login-page > form .mat-raised-button {
  padding: 15px;
  font-size: 15pt;
}
.login-page > form .mat-hint {
  color: $text-normal;
  font-style: italic;
  font-size: 7.5pt;
}
.login-page > form .red {
  color: $text-error;
}
