
<mat-card class="small-card">
  <div class="login-page">
    <h2>Code to infinity</h2>
    <h1>& Beyond!</h1>
    <form (ngSubmit)="submitLogin()" autocomplete="off">
      <p class="red">
        {{msgError}}
      </p>
      <mat-form-field>
        <mat-select placeholder="Select your favorite language"
                    [(ngModel)]="selectedLang" name="lang"
                    (selectionChange)="changeLanguage()">
          <mat-option *ngFor="let lang of langs" [value]="lang.language">
            {{lang.name}}
          </mat-option>
        </mat-select>
        <mat-hint align="end">You can change language during the test</mat-hint>
      </mat-form-field>
      <mat-form-field>
          <input [(ngModel)]="login" matInput placeholder="Login" name="login"
                 autocomplete="off">
      </mat-form-field>
      <mat-form-field>
          <input [(ngModel)]="password" type="password" matInput placeholder="Password"
                 name="password" autocomplete="new-password">
      </mat-form-field>
      <button type="submit" class="full-width" mat-raised-button color="secondary">LET'S GO!</button>
    </form>
  </div>
</mat-card>
