<mat-card *ngIf="failedMessage" class="error-page-container">
  <mat-card-header>
    <mat-card-title>Error</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div mat-card-avatar>
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{failedMessage}}</h4>
    </div>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!failedMessage">
  <div *ngIf="processing && !isRecruiter() && !applicant && !failedMessage">
    Loading page...
  </div>
  <div *ngIf="processing" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <form id="applicantForm" class="account-container"
        *ngIf="isRecruiter() && applicant"
        (ngSubmit)="submitApplicant()" #applicantForm>
    <h3>Add Applicant</h3>
    
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="applicant.firstName" required 
          placeholder="Firstname" color="primary" name="firstName"
          maxlength="50">
        <mat-hint align="end">{{applicant.firstName.length}} / 50</mat-hint>
        <mat-error>
          Firstname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="applicant.lastName" required
          placeholder="Lastname" color="primary" name="lastName"
          maxlength="50">
        <mat-hint align="end">{{applicant.lastName.length}} / 50</mat-hint>
        <mat-error>
          Lastname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="applicant.email" required type="email"
               placeholder="Email" color="primary" name="email"
               [formControl]="emailFormControl" maxlength="100">
        <mat-hint align="end">{{applicant.email.length}} / 100</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="applicant.phone" type="tel"
               placeholder="Phone number" color="primary" name="phone"
               [formControl]="phoneFormControl" maxlength="13">
        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
          Please enter a valid phone number
        </mat-error>
        <span matPrefix>+33(0)&nbsp;</span>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="applicant.jobTitle"
               placeholder="Job Title" color="primary" name="jobTitle"
               maxlength="100">
        <mat-hint align="end">{{applicant.jobTitle?.length || 0}} / 100</mat-hint>
        <mat-icon matSuffix>perm_contact_calendar</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Test language" [(ngModel)]="applicant.language"
                    name="language" [disabled]="!!(applicantId)" required>
          <mat-option *ngFor="let language of languages" [value]="language.lang">
            {{language.name}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>code</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Test difficulty" [(ngModel)]="applicant.difficulty"
                    name="difficulty" [disabled]="!!(applicantId)" required>
          <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.difficulty">
            {{difficulty.name}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>network_check</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Test duration" [(ngModel)]="applicant.duration"
                    name="duration" [disabled]="!!(applicantId)" required>
          <mat-option *ngFor="let duration of getDurations()" [value]="duration">
            {{duration}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>timer</mat-icon>
      </mat-form-field>
      <div class="files-upload-wrapper">
        <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           (onFileDrop)="dropFile($event)"
           [uploader]="uploader">
          <input id="input-cv" type="file" ng2FileSelect
                 (change)="moveFiles($event)"
                 class="hide" [uploader]="uploader">
          <label for="input-cv" class="mat-raised-button mat-primary">
            <i class="material-icons">cloud_upload</i>
            Choose CV File or drag and drop
          </label>
        </div>
        <mat-chip-list>
          <mat-chip *ngFor="let item of uploader.queue">
            {{item?.file?.name}}
            <mat-icon mat-list-icon (click)="removeCV(item)">
              clear
            </mat-icon>
          </mat-chip>
        </mat-chip-list>
        <label for="input-cv" class="suffix-icon" title="Join CV">
          <i class="material-icons">description</i>
        </label>
      </div>
      <p></p>
      <mat-form-field *ngIf="applicantId">
        <textarea matInput [(ngModel)]="applicant.recruiterNotes"
               placeholder="Recruiter Notes" color="primary" name="recruiterNotes"
               maxlength="500" matTextareaAutosize matAutosizeMinRows="3"
               matAutosizeMaxRows="10">></textarea>
        <mat-hint align="end">{{applicant.recruiterNotes?.length || 0}} / 500</mat-hint>
        <mat-icon matSuffix>textsms</mat-icon>
      </mat-form-field>
      <div *ngIf="applicantId">
        <mat-checkbox name="accepted"
                      color="primary"
                      [(ngModel)]="applicant.accepted"
                      [(indeterminate)]="indeterminate"
                      labelPosition="before">
          Accepted:
        </mat-checkbox>
        <button mat-icon-button class="clear-button">
          <mat-icon aria-label="Unset the accepted value" title="Unset the accepted value" (click)="resetAccepted()">
            settings_backup_restore
          </mat-icon>
        </button>
      </div>
    </div>

    <mat-card-actions class="reduced-panel">
      <span class="success">{{infoMessage}}</span>
      <span class="error-msg">{{errorMessage}}</span>
      <button mat-raised-button type="submit" color="primary">
        {{applicantId ? 'Update applicant' : 'Start test'}}</button>
    </mat-card-actions>
  </form>
  <div *ngIf="!isRecruiter">
    <h4>Recruiter role is required to create an applicant</h4>
  </div>
</mat-card>
