.error-display,
.error-display .mat-list-text,
.error-display .mat-list-text * {
  display: inline-block;
  margin-left: 10px;
}
.error-display .mat-list-text {
  text-align: center;
}
.account-container {
  width: 80%;
  margin: auto;
}
.account-container .mat-form-field {
  width: 100%;
}
.reduced-panel {
  float: right;
}
.hide {
  display: none;
}
.error-page-container {
  height: calc(100% - 50px);
}
.error-page-container .mat-card-content {
  display: inline-block;
}
.error-page-container h4.mat-line {
  display: inline-block;
  margin-left: 10px;
}
.error-page-container .mat-card-avatar {
  width: 100%;
  display: flex;
  align-items: center;
}
.files-upload-wrapper > * {
  display: inline-block;
}
.files-upload-wrapper > .suffix-icon {
  float: right;
  cursor: pointer;
}
.files-upload-wrapper > .suffix-icon > .material-icons {
  vertical-align: middle;
}
.files-upload-wrapper .mat-raised-button > .material-icons {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.table-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}
.table-container.hidden {
  display: none;
}
.table-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(1%) fit-content(1%) 1fr fit-content(1%);
  max-height: 100%;
  overflow: hidden;
}
.mat-form-field,
.form-elmt {
  font-size: 14px;
  flex-grow: 1;
  margin-right: 32px;
}
.form-elmt,
.form-elmt .mat-slide-toggle-label,
.form-elmt label,
.mat-slide-toggle-label {
  width: 100%;
  text-align: center;
}
.form-elmt {
  width: auto;
  flex-grow: initial;
}
.form-elmt .mat-slide-toggle {
  vertical-align: top;
}
.mat-paginator {
  justify-content: center;
}
.mat-table {
  overflow-y: auto;
}
form.action-buttons {
  min-width: 1px;
  display: inline-block;
}
form.action-buttons > div {
  display: inline-block;
}
.mat-cell,
.mat-header-cell {
  flex: 0.5;
}
.mat-column-name,
.mat-column-email,
.mat-column-recruiter {
  flex: 1;
}
.mat-divider {
  width: 100%;
  display: block;
  height: 0.0001px;
  border-top-width: 1px;
  border-top-style: solid;
}
.applicant-info {
  min-width: 500px;
}
.applicant-info div > span:nth-child(odd) {
  white-space: nowrap;
}
.applicant-info div > span:nth-child(even) {
  font-weight: 500;
}
.applicant-info a .inline-icon {
  margin-right: 5px;
}
.applicant-info div > span {
  display: inline-flex;
  align-items: center;
}
.applicant-info > div {
  display: grid;
  grid-template-columns: minmax(30px, 0.2fr) minmax(100px, 0.8fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
  grid-auto-rows: minmax(26px, auto);
}
