<div class="applicant-info">
  <h3 title="Applicant ID: {{data.id}}">Applicant details</h3>
  <div>
    <span>Firstname:</span>
    <span>{{data.name.firstName}}</span>

    <span>Lastname:</span>
    <span>{{data.name.lastName}}</span>

    <span>Date:</span>
    <span>{{this.formatTimestamp(data.date)}}</span>

    <span>Email:</span>
    <span>
      <a href="mailto:{{data.email}}"
         title="Send mail to {{data.name.firstName}} {{data.name.lastName}}">
        <i class="material-icons inline-icon">email</i>
      </a>
      <a [attr.href]="domSanitizer.bypassSecurityTrustUrl('sip:'+data.email)"
         title="Chat with {{data.name.firstName}} {{data.name.lastName}}">
        <i class="material-icons inline-icon">chat</i>
      </a>
      {{data.email}}
    </span>

    <span>Phone:</span>
    <span>
      <a *ngIf="data.phone" href="tel:{{data.phone}}"
         title="Call {{data.name.firstName}} {{data.name.lastName}}">
        <i *ngIf="data.phone" class="material-icons">phone</i>
        {{data.phone}}
      </a>
    </span>

    <span>Job Ttitle:</span>
    <span>{{data.jobTitle}}</span>

    <span>Language:</span>
    <span>{{data.language}}</span>

    <span>Difficulty:</span>
    <span>{{data.difficulty}}</span>

    <span>CV:</span>
    <span>
      <a *ngIf="data.cv" title="Download CV" target="_blank"
         [attr.href]="domSanitizer.bypassSecurityTrustUrl(cvURL)"
         download="{{data.name.lastName + '_' + data.name.firstName + '_CV.pdf'}}">
        <i class="material-icons">description</i>
        Download CV
      </a>
    </span>

    <span>Score:</span>
    <span>{{data.score}}
          <span *ngIf="message || data.result">&nbsp;(<span [innerHTML]="message"></span>
           <a *ngIf="data.result" title="Download Applicant Test Result" target="_blank"
              [attr.href]="domSanitizer.bypassSecurityTrustUrl(testResultURL)"
              download="{{data.name.lastName + '_' + data.name.firstName + '_Test_Results.zip'}}"
           ><i class="material-icons">assessment</i> Download Result</a>)</span>
    </span>

    <span>Test:</span>
    <span>
      <a title="Reopen the applicant test"
         [routerLink]="['/challenges', data.challengeId, data.exerciceId, 'editor']"
         (click)="dialogRef.close(true)">
        <i class="material-icons">loop</i>
        Reopen test
      </a>
    </span>

    <span>GO/NOGO:</span>
    <span>{{this.getAcceptation(data.accepted)}}</span>

    <span>Recruiter:</span>
    <span>
      {{data.recruiter.name.firstName}} {{data.recruiter.name.lastName}}
    </span>

    <span>Recruiter Notes:</span>
    <span>{{data.recruiterNotes}}</span>

  </div>
  <button type="button" class="right" mat-raised-button
      (click)="dialogRef.close(true)" autofocus>Fermer</button>
</div>
