<mat-card *ngIf="errorMessage" class="error-page-container">
  <mat-card-header>
    <mat-card-title>Error</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div mat-card-avatar>
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{errorMessage}}</h4>
    </div>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!errorMessage">
  <div *ngIf="!loaded && processing">
    Loading page...
  </div>
  <div *ngIf="processing" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <div class="table-container {{!loaded && processing ? 'hidden' : ''}}">
    <h3>List of Applicants</h3>

    <div class="table-header">
      <mat-form-field class="filter" floatPlaceholder="never">
        <input matInput #filter placeholder="Search...">
      </mat-form-field>
      <div class="form-elmt">
        <mat-slide-toggle [color]="accent"
                          [checked]="displayAll"
                          (change)="switchDisplay($event)">
          Display all Applicants
        </mat-slide-toggle>
      </div>
      <mat-form-field>
        <mat-select placeholder="Difficulty Level" [(ngModel)]="level"
                    name="level" (selectionChange)="filterLevel()">
          <mat-option [value]="null">All Levels</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngFor="let lvl of levels" [value]="lvl">
            {{lvl}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon aria-label="Clear all filters" title="Clear all filters" (click)="clearFilters()">
          clear
        </mat-icon>
      </button>
    </div>

    <mat-list-item *ngIf="!results || results.length < 1" class="error-display">
      <div class="mat-list-text">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>There is no Applicant</h4>
        <span>(You can display all applicants)</span>
      </div>
    </mat-list-item>

    <mat-table *ngIf="results && results.length > 0" #table
               [dataSource]="getDataSource()" matSort
               matSortActive="date" matSortDirection="asc">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.name.firstName + ' ' + row.name.lastName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{formatTimestamp(row.date)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="language">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Language </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.language}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="recruiter">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Recruiter </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.recruiter.name.firstName + ' ' + row.recruiter.name.lastName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef> Score</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.score}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accepted">
        <mat-header-cell *matHeaderCellDef mat-sort-header> GO/NOGO </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getAcceptation(row.accepted)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <form class="action-buttons">
            <div *ngFor="let button of row.actions.buttons">
              <a href="#" class="{{button.className}}"
                 title="{{button.title}}"
                 (click)="applyFun(button.fun, row)">
                <mat-icon color="{{button.color}}"
                  mat-list-icon>{{button.icon}}</mat-icon>
              </a>
            </div>
          </form>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator *ngIf="results && results.length > 0 && dataBase && dataBase.data"
                   [length]="dataBase.data.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginationChange($event)">
    </mat-paginator>
  </div>
</mat-card>
