<mat-tab-group *ngIf="loaded" class="mat-tab-group">
  <mat-tab *ngFor="let page of pages" label="{{page.title}}">
    <div [ngClass]="overflow-item" [innerHtml]="page.template ? page.template : page.content">
    </div>
  </mat-tab>
</mat-tab-group>
