<mat-card>
  <div *ngIf="processing">
    <p *ngIf="!currentTeam || !currentUser">Loading page...</p>
    <mat-spinner></mat-spinner>
  </div>

  <div class="team-container" *ngIf="currentTeam && currentUser && members">
    <h3>Edit Team</h3>

    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="teamName" required 
          maxlength="50" minlength="5" placeholder="Team Name"
          color="primary">
        <mat-hint align="end">{{teamName.length}} / 50</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <span>Members:</span>
      <div>
        <mat-form-field>
          <mat-select placeholder="Owner" name="creator" [(ngModel)]="currentUser"
            floatPlaceholder="never" disabled>
            <mat-option [value]="currentUser">
              {{currentUser.login}} - {{currentUser.firstName}} {{currentUser.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Teamate 1" [(ngModel)]="user1" name="user1" 
                      (selectionChange)="updateUsers()" #teamte1="matSelect">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let user of getUsers(user1)" [value]="user">
              {{user.login}} - {{user.firstName}} {{user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Teamate 2" [(ngModel)]="user2" name="user2" 
                      (selectionChange)="updateUsers()" #teamte2="matSelect">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let user of getUsers(user2)" [value]="user">
              {{user.login}} - {{user.firstName}} {{user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Teamate 3" [(ngModel)]="user3" name="user3" 
                      (selectionChange)="updateUsers()" #teamte3="matSelect">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let user of getUsers(user3)" [value]="user">
              {{user.login}} - {{user.firstName}} {{user.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-card-actions class="reduced-panel">
      <span class="success" [innerHTML]="infoMessage"></span>
      <button mat-raised-button color="primary" (click)="saveTeam()">Save</button>
    </mat-card-actions>
  </div>
  <div *ngIf="!currentTeam">
    <h4>{{errorMessage}}</h4>
  </div>
</mat-card>
