@import 'variables';

.edit {
  text-decoration: none;
}
.mat-card {
  height: calc(100% - 2 * 24px);
}
.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-right: 32px;
}
.mat-paginator {
  justify-content: center;
}
.mat-table {
  overflow-y: auto;
}
.mat-list mat-list-item.team.mat-list-item h3.mat-line.team-name {
  font-variant: small-caps;
  display: inline-block;
  margin: 10px 0px;
  font-weight: 400;
}
mat-icon.big-icon.mat-icon.mat-list-icon.material-icons {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: auto;
}
.mat-list mat-list-item.team.mat-list-item {
  border: 1px solid $secondary;
  height: auto;
}
.mat-list mat-list-item.team.mat-list-item .team-content {
  display: grid;
  grid-template-columns: 160px 1fr;
}
.team-members {
  display: flex;
  align-items: flex-end;
}
p.person {
  vertical-align: unset;
}
p.person > span {
  display: flex;align-items: center;
}
.mat-list mat-list-item.team.mat-list-item .mat-list-item-content {
  height: auto;
}
.team-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
