
<mat-card *ngIf="!currentChallenge || !exercices || exercices.length < 1">
  Loading page...
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card *ngIf="exercices && exercices.length < 1">
  <p mat-line>
    There is no exercice
  </p>
</mat-card>
<mat-card *ngIf="currentChallenge && exercices && exercices.length > 0">
  <h1>All Exercices for {{currentChallenge.name}}</h1>
  <button mat-raised-button color="primary" *ngIf="currentUser && !isRegistered()" (click)="register()">
    <mat-icon aria-label="Register to this challenge">add_box</mat-icon>
    Register
  </button>
  <button mat-raised-button color="warn" *ngIf="isRegistered()" (click)="leave()">
    <mat-icon aria-label="Unregister from this challenge">remove_circle</mat-icon>
    Unregister
  </button>
  <mat-list *ngFor="let exercice of exercices">
    <mat-list-item *ngIf="currentUser && isRegistered()" class="hoverable"
                   [routerLink]="['/challenges/', currentChallenge.id, exercice.id, 'editor']">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{exercice.title}}</h4>
      <p mat-line> {{exercice.subtitle}}</p>
      <p mat-line style="position: absolute;right: 10px;">
        <i>Coeff: {{exercice.coeff}}</i>
      </p>
    </mat-list-item>
    <mat-list-item *ngIf="!currentUser || !isRegistered()">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{exercice.title}}</h4>
      <p mat-line> {{exercice.subtitle}}</p>
      <p mat-line style="position: absolute;right: 10px;">
        <i>Coeff: {{exercice.coeff}}</i>
      </p>
    </mat-list-item>
    <mat-list-item *ngIf="errorMessage">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{errorMessage}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card>
