<mat-card>
  <div *ngIf="!editingTeam && !errorMessage">
    Loading page...
  </div>
  <form *ngIf="!errorMessage && editingTeam" class="team-container"
        id="teamForm" name="teamForm" #teamForm>
    <h3>Edit Team</h3>
  </form>
  <div *ngIf="errorMessage">
    <h4>{{errorMessage}}</h4>
  </div>
</mat-card>
