@import '~scss/variables.scss';

mat-card-actions {
  text-align: right;
}
form {
  /* margin-bottom: 10px; */
  text-align: right;
  height: 40px;
  margin-right: 10px;
}
form.exercice-selector {
  text-align: left;
}
.exercice-selector > .mat-form-field {
  width: 100%;
}
.hide {
  display: none;
}
.mainfile-desc {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 40px;
}
.files-upload-wrapper {
  width: calc(100% - 6px);
  height: calc(100% - 40px - 6px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-light;
  border: dashed 3px $secondary-active-light;
}
mat-chip {
  margin-top: 4px;
  margin-bottom: 4px;
}
.nv-file-over {
  border: dashed 3px $secondary-active;
}
mat-panel-description {
  display: block;
  text-align: right;
}
.red {
  color: $text-error;
}
.green {
  color: $text-success;
}
.result-detail-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 10px;
}
.result-detail-container > div.console {
  overflow-x: auto;
  max-height: 300px;
  min-height: 100px;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.result-detail-container > div > div {
  position: relative;
  padding: 2px 0px;
}
.result-detail-container > div > pre {
  margin: 0px;
  padding: 2px 5px;
}
.result-detail-container > div.header-results {
  background-color: $secondary-light;
  color: $primary-dark;
  font-weight: bold;
  padding: 5px;
}
mat-sidenav-content.mat-drawer-content.mat-sidenav-content > div {
  display: grid;
}
.reduced-panel {
  margin: 0px !important;
  padding: 0px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.card-editor .mat-card-content {
  height: calc(100% - 44px) !important;
  margin-bottom: 0;
}
.card-editor .mat-tab-body-content {
  overflow: hidden;
}
.card-editor .mat-tab-group {
  height: 100% !important;
  display: grid;
  overflow: hidden;
  grid-template-rows: 49px;
}
.ace-editor-container {
  height: calc(100% - 50px);
  width: calc(100% - 10px);
  margin: 5px;
}
#editor,
ace-editor,
.ace-editor {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100% !important;
  border-radius: 2px;
  border: 0px solid rgba(0,0,0,0);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}
.tab-editor,
.tab-upload {
  height: 100%;
}
.stderr {
  color: $text-error;
}
.error-page-container {
  display: grid;
  height: 100%;
}
.error-page-container {
  height: 100%;
}
.card-instruction .mat-card-content {
  margin-bottom: 20px;
}
.error-page-container .mat-card-content {
  display: inline-block;
}
.error-page-container h4.mat-line {
  display: inline-block;
  margin-left: 10px;
}
.error-page-container .mat-card-avatar {
  width: 100%;
  display: flex;
  align-items: center;
}
h4.mat-line {
  display: inline-block;
  margin: 0px;
}
.mat-icon-button.action-button {
  vertical-align: top;
}
.mat-icon-button.action-button.expand-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
}
.editor-page-container {
  height: 100%;
}
.editor-page-container .card-instruction,
.editor-page-container .card-editor ,
.editor-page-container .card-results {
  overflow-y: auto;
  height: calc(100% - 2 * 24px);
}
.editor-page-container .card-editor {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  height: 100%;
}
.coeff-info {
  opacity: 0.75;
  font-size: 75%;
  font-style: italic;
}
