<div *ngIf="processing && !errorMessage && (!currentUser || !currentExercice || !exerciceInstructions)"
     class="error-page-container">
  <mat-card>
    Loading page...
  </mat-card>
</div>
<div *ngIf="processing" class="spinner-container">
  <mat-spinner></mat-spinner>
  <div class="loading-message">{{getLoadingMessage()}}</div>
</div>
<div class="error-page-container" *ngIf="errorMessage">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Error</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div mat-card-avatar>
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{errorMessage}}</h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="editor-page-container {{isFullScreen() ? 'full-screen ' + getFullScreenPanel() : ''}}"
     *ngIf="!errorMessage && currentUser && currentExercice">

  <!-- <mat-card class="card-instruction"> -->

  <horizontal-split-pane primary-component-minsize="100" secondary-component-minsize="100"
                         primary-component-initialratio="0.6" local-storage-key="split-pane-horizontal"
                         (on-change)="resizeEditor()">
    <div class="split-pane-content-primary" style="height:100%;">
      <vertical-split-pane primary-component-minsize="100" secondary-component-minsize="100"
                           primary-component-initialratio="0.4" local-storage-key="split-pane-vertical"
                           (on-change)="resizeEditor()">
        <mat-card class="split-pane-content-primary card-instruction">
          <button mat-icon-button class="action-button expand-button">
            <mat-icon aria-label="Expand panel" (click)="expand('instruction')"
                      title="{{ expandPanels['instruction'] ? 'Reduce' : 'Expand' }}">
              {{ expandPanels['instruction'] ? 'fullscreen_exit' : 'fullscreen' }}
            </mat-icon>
          </button>
          <mat-card-header>
            <div style="margin-bottom:10px;position: absolute;right: 40px;top: 10px;">
              <span>Best score: <b>{{ getBestScore() }}</b></span>
            </div>
            <div mat-card-avatar>
              <mat-icon mat-list-icon>code</mat-icon>
            </div>
            <mat-card-title *ngIf="exercicesList.length > 1">
              <form class="exercice-selector">
                <mat-form-field>
                  <mat-select placeholder="Current exercice" [(ngModel)]="navigateExercice"
                              name="exercice" (selectionChange)="switchExercice()">
                    <mat-select-trigger>
                      {{navigateExercice.title}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let exercice of exercicesList" [value]="exercice">
                      <span title="{{exercice.subtitle}}">{{exercice.title}}
                        <span class="coeff-info">(coeff.: {{exercice.coeff}})</span>
                      </span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </mat-card-title>
            <mat-card-subtitle>{{currentExercice.subtitle}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <markdown class="md-exercice" [data]="exerciceInstructions">
            </markdown>
          </mat-card-content>
        </mat-card>

        <!-- </mat-card> -->
        <!-- <mat-card class="card-editor"> -->

        <mat-card class="split-pane-content-secondary card-editor">
          <button mat-icon-button class="action-button expand-button">
            <mat-icon aria-label="Expand panel" (click)="expand('editor')"
                      title="{{ expandPanels['editor'] ? 'Reduce' : 'Expand' }}">
              {{ expandPanels['editor'] ? 'fullscreen_exit' : 'fullscreen' }}
            </mat-icon>
          </button>
          <mat-card-content>

            <mat-tab-group class="mat-tab-group">
              <mat-tab label="Code in editor">
                <div class="tab-editor">
                  <form>
                    <span *ngIf="!isRecruiterMode" class="timer">{{getTimeRemaining()}}</span>
                    <button mat-icon-button class="action-button">
                      <mat-icon aria-label="Reset code" title="Reset code" (click)="resetCode()">
                        settings_backup_restore
                      </mat-icon>
                    </button>
                    <mat-form-field>
                      <mat-select placeholder="Language" [(ngModel)]="selectedLang" name="lang" (selectionChange)="clearCode()"
                                  [disabled]="!changeLanguageEnabled()">
                        <mat-option *ngFor="let lang of langs" [value]="lang.language">
                          {{lang.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="Theme" [(ngModel)]="selectedTheme" name="theme" (selectionChange)="onThemeChange()">
                        <mat-option *ngFor="let theme of themes" [value]="theme.realName">
                          {{theme.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                  <div class="ace-editor-container">
                    <ace-editor #editor
                          [(text)]="text"
                          [mode]="selectedEditorLang"
                          [theme]="selectedTheme"
                          [options]="options"
                          [readOnly]="false"
                          [autoUpdateContent]="true"
                          [durationBeforeCallback]="100"
                          (textChanged)="onChange($event)"
                          style="min-height: 150px; width:100%; overflow: auto;">
                    </ace-editor>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Upload files" disabled title="Not yet implemented">
                <div class="tab-upload">
                  <form>
                    <div class="mainfile-desc">
                      You must provide the main file <span *ngIf="getSelectedLang(selectedLang) && getSelectedLang(selectedLang).mainScript">named <b>{{getSelectedLang(selectedLang).mainScript}}</b></span>
                    </div>
                    <mat-form-field>
                      <mat-select placeholder="Language" [(ngModel)]="selectedLang" name="lang" (selectionChange)="clearCode()">
                        <mat-option *ngFor="let lang of langs" [value]="lang.language">
                          {{lang.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                  <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="files-upload-wrapper">
                    <input id="input-file-id" class="hide" type="file" ng2FileSelect [uploader]="uploader" multiple/>
                    <label for="input-file-id" class="mat-raised-button mat-primary">Choose Files or drag and drop</label>
                  </div>
                  <mat-chip-list>
                    <mat-chip *ngFor="let item of uploader.queue">
                      {{item?.file?.name}}
                      <mat-icon mat-list-icon (click)="item.remove()">
                        clear
                      </mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-tab>
            </mat-tab-group>

          </mat-card-content>
          <mat-card-actions class="reduced-panel">
            <button mat-raised-button color="secondary" (click)="testCode()">TEST CODE</button>
            <button mat-raised-button color="primary" (click)="submitCode()">SUBMIT</button>
          </mat-card-actions>
        </mat-card>
      </vertical-split-pane>
    </div>

    <!-- </mat-card> -->
    <!-- <mat-card class="card-results"> -->

    <mat-card class="split-pane-content-secondary card-results">
      <button mat-icon-button class="action-button expand-button">
        <mat-icon aria-label="Expand panel" (click)="expand('results')"
                  title="{{ expandPanels['results'] ? 'Reduce' : 'Expand' }}">
          {{ expandPanels['results'] ? 'fullscreen_exit' : 'fullscreen' }}
        </mat-icon>
      </button>
      <div style="margin-bottom:10px;">
        <b>Tests : </b><span style="position: absolute;right: 40px;top: 10px;" *ngIf="results">Total score: <b>{{ getTotalScore() }}</b></span>
      </div>

      <mat-tab-group class="mat-tab-group" [(selectedIndex)]="selectedResultsTabIndex">
        <mat-tab label="Expected Results">
          <mat-expansion-panel [expanded]="false" *ngFor="let testCase of testCases">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{testCase.name}}&nbsp;–&nbsp;<b>{{getResult(testCase) ? getResult(testCase).score * 100 + '%' : 'N/A'}}</b>
              </mat-panel-title>
              <mat-panel-description>
                <div *ngIf="submitted && processing" class="md-card-image loading-img"
                     src="./assets/images/loading-img.gif" alt="Submitting..."
                     title="Submitting...">
                </div>
                <mat-icon class="red" *ngIf="getResult(testCase) && getResult(testCase).score == 0" mat-list-icon>warning</mat-icon>
                <mat-icon class="green" *ngIf="getResult(testCase) && getResult(testCase).score > 0" mat-list-icon>done</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="result-detail-container">
              <div class="header-results">
                Input
              </div>
              <div class="header-results">
                Output
              </div>
              <div [ngClass]="'console ace-'+getAceSelectedTheme()">
                <div class="ace_gutter" *ngIf="testCase" [innerHTML]="getAceGutter(testCase.input)">
                </div>
                <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail'">{{testCase.input}}</pre>
              </div>
              <div [ngClass]="'console ace-'+getAceSelectedTheme()">
                <div class="ace_gutter" *ngIf="testCase" [innerHTML]="getAceGutter(testCase.output)">
                </div>
                <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail'">{{testCase.output}}</pre>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-tab>

        <mat-tab label="Your results">
          <div *ngIf="selectedResultsTabIndex == 1">
            <mat-expansion-panel [expanded]="false" *ngFor="let testCase of testCases">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{testCase.name}}&nbsp;–&nbsp;<b>{{getResult(testCase) ? getResult(testCase).score * 100 + '%' : 'N/A'}}</b>
                </mat-panel-title>
                <mat-panel-description>
                  <div *ngIf="submitted && processing" class="md-card-image loading-img"
                       src="./assets/images/loading-img.gif" alt="Submitting..."
                       title="Submitting...">
                  </div>
                  <mat-icon class="red" *ngIf="getResult(testCase) && getResult(testCase).score == 0" mat-list-icon>warning</mat-icon>
                  <mat-icon class="green" *ngIf="getResult(testCase) && getResult(testCase).score > 0" mat-list-icon>done</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="result-detail-container">
                <div class="header-results">
                  Result
                </div>
                <div class="header-results">
                  Output
                </div>
                <div [ngClass]="'console ace-'+getAceSelectedTheme()">
                  <div class="ace_gutter">
                  </div>
                  <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail'">{{getResult(testCase) ? getResult(testCase).returnMessage : ''}}</pre>

                </div>
                <div [ngClass]="'console ace-'+getAceSelectedTheme()">
                  <div class="ace_gutter" *ngIf="! getResult(testCase)" title="Standard Output">
                  </div>
                  <div class="ace_gutter" *ngIf="getResult(testCase)" title="Standard Output"
                       [innerHTML]="getAceGutter(getResult(testCase).stdout)">
                  </div>
                  <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail'">{{getResult(testCase) ? getResult(testCase).stdout : ''}}</pre>

                  <div class="ace_gutter" *ngIf="! getResult(testCase)" title="Standard Error">
                  </div>
                  <div class="ace_gutter" *ngIf="getResult(testCase)" title="Standard Error"
                       [innerHTML]="getAceGutter(getResult(testCase).stderr)">
                  </div>
                  <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail stderr'">{{getResult(testCase) ? getResult(testCase).stderr : ''}}</pre>

                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </horizontal-split-pane>
  <!-- </mat-card> -->
</div>
