<mat-card>
  <div *ngIf="!editingUser && !errorMessage">
    Loading page...
  </div>
  <form *ngIf="!errorMessage && editingUser" class="account-container"
        id="accountForm" name="accountForm" #accountForm>
    <h3>{{ isEditing ? 'Edit' : 'Create' }} User</h3>
    
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="editingUser.login" required 
          placeholder="Login" color="primary" name="login"
          [formControl]="loginFormControl" minlength="1" maxlength="50">
        <mat-hint align="end">{{editingUser.login.length}} / 50</mat-hint>
        <mat-error *ngIf="loginFormControl.hasError('pattern')">
          Only letters, numbers and [ _'.@- ] characters are allowed
        </mat-error>
        <mat-error *ngIf="loginFormControl.hasError('required')">
          Login is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field>
      <!-- <mat-form-field> -->
        <!-- <input matInput [(ngModel)]="editingUser.login" name="login" disabled> -->
        <!-- <mat-icon matSuffix>account_box</mat-icon> -->
      <!-- </mat-form-field> -->
      <mat-form-field>
        <input matInput [(ngModel)]="editingUser.email" required 
           placeholder="Email" color="primary" name="email"
          [formControl]="emailFormControl" maxlength="100">
        <mat-hint align="end">{{editingUser.email.length}} / 100</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="editingUser.firstName" required 
          placeholder="Firstname" color="primary" name="firstName"
          maxlength="50">
        <mat-hint align="end">{{editingUser.firstName.length}} / 50</mat-hint>
        <mat-error>
          Firstname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="editingUser.lastName" required 
          placeholder="Lastname" color="primary" name="lastName"
          maxlength="50">
        <mat-hint align="end">{{editingUser.lastName.length}} / 50</mat-hint>
        <mat-error>
          Lastname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="avatar-container">
      <mat-form-field class="avatar-input">
        <input matInput [(ngModel)]="editingUser.imageUrl" 
          placeholder="Avatar" color="primary" name="imageUrl"
          maxlength="256" (ngModelChange)="checkImgURL()">
        <mat-hint align="end">{{editingUser.imageUrl ? editingUser.imageUrl.length : 0}} / 256</mat-hint>
        <mat-icon matSuffix>image</mat-icon>
      </mat-form-field>
      <div class="avatar-img-container">
        <mat-icon *ngIf="!isValidImgURL" class="image-preview">
          not_interested
        </mat-icon>
        <img *ngIf="isValidImgURL" class="image-preview"
             src="{{editingUser.imageUrl}}">
      </div>
    </div>

    <div class="password-container">
      <mat-form-field>
        <input matInput placeholder="Enter your password" name="password" 
          [type]="hide1 ? 'password' : 'text'"
          [(ngModel)]="passwordField" minlength="4" maxlength="100">
        <mat-hint align="end">The password must contain between 4 and 100 characters</mat-hint>
        <mat-error>
          The password must contain between 4 and 100 characters
        </mat-error>
        <mat-icon matSuffix (click)="hide1 = !hide1" class="password-icon"
                  title="{{hide1 ? 'display' : 'hide'}}">
          {{hide1 ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm your password" name="passwordCheck"
          [type]="hide2 ? 'password' : 'text'" [formControl]="passwordFormControl"
          [(ngModel)]="passwordConfirm" minlength="4" maxlength="100">
        <mat-error *ngIf="passwordField !== passwordConfirm">
          Password verification failed
        </mat-error>
        <mat-icon matSuffix (click)="hide2 = !hide2" class="password-icon"
                  title="{{hide2 ? 'display' : 'hide'}}">
          {{hide2 ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>
    </div>
    <mat-card-actions class="reduced-panel">
      <span class="success" [innerHTML]="infoMessage"></span>
      <button mat-raised-button color="primary" (click)="updateAccount()">Save</button>
    </mat-card-actions>
  </form>
  <div *ngIf="errorMessage">
    <h4>{{errorMessage}}</h4>
  </div>
</mat-card>
