<div *ngIf="!errorMessage && processing && (!currentUser || !currentExercice)"
     class="error-page-container">
  <mat-card>
    Loading page...
  </mat-card>
</div>
<div *ngIf="processing" class="spinner-container">
  <mat-spinner></mat-spinner>
  <div class="loading-message">{{getLoadingMessage()}}</div>
</div>
<div class="error-page-container" *ngIf="errorMessage">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Error</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div mat-card-avatar>
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{errorMessage}}</h4>
      </div>
      <div *ngIf="!this.team && this.currentUser">
        <button mat-raised-button color="primary" (click)="register()">
          <mat-icon aria-label="Register to this course">add_box</mat-icon>
          Register
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mat-card *ngIf="!errorMessage && currentUser && currentExercice"
            class="card-editor">
  
  <mat-card-header class="challenge-header">
    <mat-card-title>{{currentChallenge.name}}</mat-card-title>
    <mat-card-subtitle>{{currentChallenge.description}}</mat-card-subtitle>
    <form>
      <mat-form-field>
        <mat-select placeholder="Language" [(ngModel)]="selectedLang" name="lang" (selectionChange)="clearCode()"
                    [disabled]="!changeLanguageEnabled()">
          <mat-option *ngFor="let lang of langs" [value]="lang.language">
            {{lang.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-header>

  <mat-card-content *ngIf="exercices && currentExercice" class="exercice-content">
    <div class="tab-editor">
      <form [formGroup]="formExercice" class="stepper-form">
        <mat-horizontal-stepper [linear]="true" #stepper formArrayName="formArray"
                                (selectionChange)="selectionChange($event)">
          <mat-step *ngFor="let exercice of exercices"
                    [formGroupName]="getIndex(exercice.id)"
                    [stepControl]="formArray?.get([getIndex(exercice.id)])"
                    [completed]="exerciceResults[exercice.id]"
                    [editable]="isEditable(exercice.id)">
            <ng-template matStepLabel>{{exercice.title}}</ng-template>
            <mat-card-header>
              <mat-card-subtitle>{{exercice.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field style="display:none;">
                <input matInput formControlName="exerciceCtrl-{{exercice.id}}"
                       [(ngModel)]="exerciceResolved[exercice.id]" [readonly]="true">
              </mat-form-field>
              <markdown class="md-exercice" *ngIf="exerciceInstructions[exercice.id]"
                        [data]="exerciceInstructions[exercice.id]" #markdown
                        class="instructions">
              </markdown>
            </mat-card-content>
            <form>
              <button mat-icon-button class="action-button">
                <mat-icon aria-label="Reset code" title="Reset code" (click)="resetCode()">
                  settings_backup_restore
                </mat-icon>
              </button>
              <mat-form-field>
                <mat-select placeholder="Theme" [(ngModel)]="selectedTheme" name="theme" (selectionChange)="onThemeChange()">
                  <mat-option *ngFor="let theme of themes" [value]="theme.realName">
                    {{theme.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <div class="ace-editor-container">
              <ace-editor #editor
                    [(text)]="text"
                    [mode]="selectedEditorLang"
                    [theme]="selectedTheme"
                    [options]="options"
                    [readOnly]="false"
                    [autoUpdateContent]="true"
                    [durationBeforeCallback]="100"
                    (textChanged)="onChange($event)"
                    style="min-height: 200px; width: 80%; overflow: auto; margin: auto;">
              </ace-editor>
            </div>
            <div *ngIf="results[exercice.id]"
                 class="panel-results">
              <div class="panel-header">
                <div class="panel-description">
                  <div *ngIf="!getResult(exercice.id)" class="md-card-image loading-img "
                       src="./assets/images/loading-img.gif" alt="Submitting..."
                       title="Submitting...">
                  </div>
                  <mat-icon class="red" mat-list-icon
                            *ngIf="getResult(exercice.id) && getResult(exercice.id).score <= 0" >
                    warning
                  </mat-icon>
                  <mat-icon class="green" mat-list-icon
                            *ngIf="getResult(exercice.id) && getResult(exercice.id).score > 0">
                    done
                  </mat-icon>
                </div>
                <div class="panel-title">
                  {{exercice.title}} result&nbsp;–&nbsp;<b>{{getResult(exercice.id) ? getResult(exercice.id).score * 100 + '%' : 'N/A'}}</b>
                </div>
              </div>

              <div class="result-detail-container">
                <div class="header-results">
                  Result
                </div>
                <div class="header-results">
                  Output
                </div>
                <div [ngClass]="'console ace-'+getAceSelectedTheme()">
                  <div class="ace_gutter" *ngIf="getResult(exercice.id)"></div>
                  <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail'">{{getResult(exercice.id) ? getResult(exercice.id).returnMessage : ''}}</pre>
                </div>
                <div [ngClass]="'console ace-'+getAceSelectedTheme()">
                
                  <div class="ace_gutter" *ngIf="! getResult(exercice.id)" title="Standard Output">
                  </div>
                  <div class="ace_gutter" *ngIf="getResult(exercice.id)" title="Standard Output"
                       [innerHTML]="getAceGutter(getResult(exercice.id).stdout)">
                  </div>  
                  <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail'">{{getResult(exercice.id) ? getResult(exercice.id).stdout : ''}}</pre>
                  
                  <div class="ace_gutter" *ngIf="! getResult(exercice.id)" title="Standard Error">
                  </div>
                  <div class="ace_gutter error" *ngIf="getResult(exercice.id)" title="Standard Error"
                       [innerHTML]="getAceGutter(getResult(exercice.id).stderr)">
                  </div>
                  <pre [ngClass]="'ace-' + getAceSelectedTheme() + ' result-detail stderr'">{{getResult(exercice.id) ? getResult(exercice.id).stderr : ''}}</pre>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </mat-card-content>

  <mat-card-actions class="reduced-panel">
    <button mat-raised-button color="secondary" (click)="testCode()">TEST CODE</button>
    <button mat-raised-button color="primary" (click)="submitCode()">SUBMIT</button>
  </mat-card-actions>
  <div *ngIf="exercices" class="naigation-buttons">
    <button mat-button (click)="goBackStep()"
            [disabled]="currentIndex == 0">Back</button>
    <button mat-button (click)="goForwardStep()"
            [disabled]="currentIndex >= exercices.length - 1 || !exerciceResults[currentExercice.id]">Next</button>
  </div>
</mat-card>
