.scoreboard-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}
.scoreboard-container.hidden {
  display: none;
}
.scoreboard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(1%) fit-content(1%) 1fr fit-content(1%);
  max-height: 100%;
  overflow: hidden;
}
.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-right: 32px;
}
.mat-paginator {
  justify-content: center;
}
.mat-table {
  overflow-y: auto;
}
.error-page-container {
  height: 100%;
}
