<div *ngIf="processing"
     class="error-page-container">
  <mat-card>
    Loading page...
  </mat-card>
</div>
<div *ngIf="processing" class="spinner-container">
  <mat-spinner></mat-spinner>
  <div class="loading-message">{{getLoadingMessage()}}</div>
</div>
<mat-card>
  <div class="scoreboard-container {{processing?'hidden':''}}">
    <h3 *ngIf="currentChallenge">Scoreboard for {{currentChallenge.name}}</h3>
    <div *ngIf="!currentChallenge">
      <h3>Select a challenge</h3>
      <mat-list>
        <mat-list-item *ngFor="let challenge of challengeList"
                       class="hoverable"
                       [routerLink]="['/scoreboard', challenge.id]">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>{{challenge.name}}</h4>
          <p mat-line>
          {{challenge.description}}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="scoreboard-header" *ngIf="currentChallenge">
      <mat-form-field>
        <mat-select placeholder="Exercice" [(ngModel)]="currentExerciceID" name="exercice">
          <mat-option [value]="null">
            All Exercices
          </mat-option>
          <mat-option *ngFor="let exercice of exercicesList" [value]="exercice.id">
            {{exercice.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Team" [(ngModel)]="currentTeamID" name="team">
          <mat-option [value]="null">
            All Teams
          </mat-option>
          <mat-option *ngFor="let team of teamsList" [value]="team.id">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter" floatPlaceholder="never">
        <input matInput #filter placeholder="Search...">
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon aria-label="Clear all filters" title="Clear all filters" (click)="clearFilters()">
          clear
        </mat-icon>
      </button>
    </div>
    <mat-table *ngIf="currentChallenge" #table [dataSource]="getDataSource()"
               matSort matSortActive="score" matSortDirection="desc">

      <ng-container matColumnDef="challenge">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Challenge </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.challenge.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exercice">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Exercice </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.exercice.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="team">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team Name </mat-header-cell>
        <mat-cell *matCellDef="let row" title="{{row.team.members}}"> {{row.team.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Score </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.score.value}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <mat-paginator *ngIf="currentChallenge && database && database.data"
                   [length]="database.data.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginationChange($event)">
    </mat-paginator>
  </div>
</mat-card>
