@import '~scss/variables.scss';

$current-theme: null;
@if $is-dark {
  $current-theme: $dark-theme;
} @else {
  $current-theme: $light-theme;
}

@import '~scss/theme.scss';
@import '~scss/emoji.scss';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@if $is-dark {

  @include angular-material-theme($dark-theme);

  .light-theme {
    @include angular-material-theme($light-theme);
  }
} @else {

  @include angular-material-theme($light-theme);

  .dark-theme {
    @include angular-material-theme($dark-theme);
  }
}

@if $use-bg-image {
  body {
    @if $use-bg-filter {
      background: $bg-image $bg-filter;
      background-blend-mode: multiply;
    } @else {
      background-image: $bg-image;
    }
      background-size: cover;
      background-repeat: no-repeat;
  }
}
