span.emoji {
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  background-image: url(./assets/images/emoji.png);
  background-repeat: no-repeat;
  background-size: 150px 100px;
  vertical-align: text-bottom;
  background-position: 5000px 5000px;
}
span.emoji.wink {
  background-position: -128px -1px;
}
span.emoji.smile {
  background-position: -102px -1px;
}
span.emoji.smile-smiling-eyes {
  background-position: -76px -1px;
}
span.emoji.grinning-face {
  background-position: -51px -1px;
}
span.emoji.smile-open-mouth {
  background-position: -25px -1px;
}
span.emoji.smile-smiling-eyes-open-mouth {
  background-position: 0px -1px;
}
span.emoji.loudly-crying {
  background-position: -128px -26px;
}
span.emoji.tears-of-joy {
  background-position: -102px -26px;
}
span.emoji.crying {
  background-position: -76px -26px;
}
span.emoji.persevering {
  background-position: -51px -26px;
}
span.emoji.disapointed {
  background-position: -25px -26px;
}
span.emoji.unamused {
  background-position: 0px -26px;
}
span.emoji.sleeping {
  background-position: -128px -51px;
}
span.emoji.sunglases {
  background-position: -102px -51px;
}
span.emoji.medical-mask {
  background-position: -76px -51px;
}
span.emoji.savouring {
  background-position: -51px -51px;
}
span.emoji.smile-closed-eyes {
  background-position: -25px -51px;
}
span.emoji.confounded {
  background-position: 0px -51px;
}
span.emoji.wink-stuck-out-tongue {
  background-position: -128px -74px;
}
span.emoji.kiss-smiling-eyes {
  background-position: -102px -74px;
}
span.emoji.kiss {
  background-position: -76px -74px;
}
span.emoji.kiss-closed-eyes {
  background-position: -51px -74px;
}
span.emoji.blowing-kiss {
  background-position: -25px -74px;
}
span.emoji.heart-eyes {
  background-position: 0px -74px;
}
