$color-dark-t1 : unquote("#{$primary-very-dark}" + "22");
$color-dark-t2 : unquote("#{$primary-very-dark}" + "42");
$color-dark-t3 : unquote("#{$primary-very-dark}" + "66");
$color-dark-t4 : unquote("#{$primary-very-dark}" + "88");
$color-dark-t5 : unquote("#{$primary-very-dark}" + "C7");
$color-dark-t6 : unquote("#{$primary-very-dark}" + "DD");
$color-dark-t7 : unquote("#{$primary-very-dark}" + "F8");

b,
markdown thead > tr > th,
div.result-detail-container > div.header-results,
div.panel-results div.result-detail-container div.header-results {
  font-weight: 500;
  color: $primary-dark;
}
markdown thead,
div.result-detail-container > div.header-results {
  background: $color-dark-t5;
}
body,
ul,
.mat-card h1,
.mat-card h2,
.mat-card h3,
.mat-card h4,
.mat-card p,
.mat-card div:not(.ace_line):not(.panel-title) > span:not(.mat-button-wrapper):not(.mat-step-icon-content):not(.mat-select-value-text),
.mat-card div:not(.ace_line):not(.panel-title) > b,
.mat-card-title,
.mat-row .mat-cell,
button.mat-sort-header-button:hover,
.mat-row .mat-footer-cell,
.panel-title,
.mat-standard-chip,
div.mat-tab-label:not(.mat-tab-disabled),
div.mat-tab-link,
.mat-expansion-panel-header-title,
.mat-form-field.mat-focused label.mat-form-field-label,
.mat-list .mat-list-item div,
.mat-nav-list .mat-list-item div,
.mat-selection-list .mat-list-item div,
.mat-form-field.mat-focused.mat-primary div.mat-select-arrow,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-option,
.mat-option:not(.mat-selected) .mat-option-text,
.ng-star-inserted .mat-flat-button:not([disabled]),
.ng-star-inserted .mat-raised-button:not(.mat-warn):not(.mat-error):not(.mat-accent):not(.mat-primary):not([disabled]),
.ng-star-inserted .mat-fab,
.ng-star-inserted .mat-mini-fab,
.mat-dialog-container .ng-star-inserted:not(.mat-input-element),
.mat-icon-button .mat-icon.material-icons:not([disabled]):hover,
.mat-button:not(.mat-warn):not(.mat-accent):not(.mat-primary):not([disabled]),
.mat-icon-button:not([disabled]),
.mat-stroked-button:not([disabled]) {
  color: $text-normal;
}
.mat-card-subtitle,
.mat-form-field-appearance-legacy label.mat-form-field-label,
div.mat-select-arrow,
.mat-form-field-appearance-legacy div .mat-hint,
.mat-paginator-range-label,
.mat-paginator-page-size-label,
button.mat-sort-header-button,
.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition,
.mat-header-row .mat-header-cell,
.mat-icon-button .mat-icon.material-icons {
  color: $secondary;
}
.mat-form-field-appearance-legacy div.mat-form-field-underline,
.mat-tab-group.mat-primary div .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $secondary;
}
.mat-form-field.mat-focused span.mat-form-field-ripple {
  background-color: $text-normal;
}
div.mat-select-content {
  background-color: transparent;
}
div > .mat-dialog-container,
div > .mat-menu-panel,
div.mat-select-panel-done-animating {
  background-color: $color-dark-t7;
}
a,
a > i.material-icons,
.mat-dialog-container a.ng-star-inserted > i.material-icons,
.panel-title b,
div.mat-select-value,
input.mat-input-element,
.instructions  strong,
.md-exercice strong {
  color: $primary-dark;
  font-weight: normal;
}
label.mat-raised-button:not(.mat-primary):not(.mat-accent):not(.mat-warn),
button.mat-raised-button:not(.mat-primary):not(.mat-accent):not(.mat-warn) {
  background: $color-dark-t4;
  box-shadow: 0px -0.5px 0px #26c6da inset,
              0px 0.5px 0px #26c6da inset,
              0.5px 0px 0px #26c6da inset,
              -0.5px 0px 0px #26c6da inset;
  border-radius: 3px;
}
label.mat-raised-button.mat-primary,
button.mat-raised-button.mat-primary {
  background: $text-normal;
  color: initial;
  border: none;
}
div.panel-results div.result-detail-container div.ace_gutter.error {
  background: unquote("#{$text-error}" + "26");
}
.mat-tab-group.mat-primary div .mat-ink-bar::before {
  content: " ";
  width: 80px;
  height: 4px;
  background-color: $secondary;
  display: block;
  margin-top: -4px;
}
.mat-tab-group.mat-primary div .mat-ink-bar::after {
  content: " ";
  width: 0px;
  height: 0px;
  background-color: transparent;
  display: block;
  margin-top: -4px;
  margin-left: 80px;
  border-top: 4px solid transparent;
  border-left: 5px solid $secondary;
}
.mat-tab-label {
  border-bottom: 2px solid $secondary;
  transition: background-color 1s;
}
.mat-tab-label::before {
  content: " ";
  width: 80px;
  height: 4px;
  background-color: $secondary;
  display: block;
  margin-top: -4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 1s;
}
.mat-tab-label::after {
  content: " ";
  width: 0px;
  height: 0px;
  background-color: transparent;
  display: block;
  margin-top: -4px;
  margin-left: 80px;
  border-top: 4px solid transparent;
  border-left: 5px solid $secondary;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: border-left-color 1s;
}
.mat-tab-label-active.mat-tab-label {
  opacity: 1;
  border-color: transparent;
  transition: background-color 0.3s;
}
.mat-tab-label-active.mat-tab-label::before {
  background-color: transparent;
  transition: background-color 0.3s;
}
.mat-tab-label-active.mat-tab-label::after {
  border-left-color: transparent;
  transition: border-left-color 0.3s;
}
.mat-tab-disabled.mat-tab-label::before {
  background-color: currentColor;
}
.mat-tab-disabled.mat-tab-label {
  border-color: currentColor;
}
.mat-tab-disabled.mat-tab-label::after {
  border-left-color: currentColor;
}
mat-sidenav-container {
  background: transparent;
}
.nav,
.mat-card:not(.small-card):not(.home-container),
.mat-stepper-horizontal,
.mat-stepper-vertical {
  background: $color-dark-t6 !important;
}
.mat-card.small-card {
  background: $color-dark-t5;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);;
}
.blur {
  position: absolute !important;
  left: -15px !important;
  top: -15px !important;
  width: 0px !important;
  height: 0px !important;
  z-index: -101 !important;
  background: transparent !important;
}
.home-container,
.stepper-form .mat-stepper-horizontal,
.mat-table,
.mat-paginator {
  background: transparent !important;
}
.mat-expansion-panel {
  background: $color-dark-t3;
}
div.loading-img {
  width: 44px;
  height: 44px;
  margin: -10px;
  margin-left: 0px;
  margin-right: -20px;
  background-size: 44px;
}
body *::-webkit-scrollbar,
body *::-webkit-scrollbar-thumb,
body *:hover > *::-webkit-scrollbar-thumb,
body *:hover > *::-webkit-scrollbar-thumb:hover,
body *::-webkit-scrollbar-thumb:hover,
body *::-webkit-scrollbar-track {
  width: 18px;
  height: 18px;
  border: none;
  box-shadow: none;
  background: transparent;
}
body *::-webkit-scrollbar-track:vertical {
  background: url('/assets/images/scroll-v.png') $color-dark-t1;
  background-size: 10px 20px;
  background-position: top right;
  background-blend-mode: darken;
  background-repeat: repeat-y;
}
body *::-webkit-scrollbar-thumb:vertical {
  background: url('/assets/images/scroll-arrow-v.png') left 50% no-repeat;
  background-size: 9px 5px;
  border-right: 2px solid $color-dark-t2;
  box-shadow: -8px 0px 0px 0px $color-dark-t2 inset,
              -6px 0px 0px 0px unquote("#{$text-normal}" + "66") inset;
  background-clip: content-box;
}
body *:hover > *::-webkit-scrollbar-thumb:vertical:hover,
body *::-webkit-scrollbar-thumb:vertical:hover {
  background: url('/assets/images/scroll-arrow-v-h.png') left 50% no-repeat;
  background-size: 9px 5px;
  border-right: 2px solid $color-dark-t2;
  box-shadow: -8px 0px 0px 0px $color-dark-t2 inset,
              -6px 0px 0px 0px unquote("#{$primary-dark}" + "33") inset;
}
body *:hover > *::-webkit-scrollbar-thumb:vertical:active,
body *::-webkit-scrollbar-thumb:vertical:active {
  background: url('/assets/images/scroll-arrow-v-a.png') left 50% no-repeat;
  background-size: 9px 5px;
  border-right: 2px solid $color-dark-t2;
  box-shadow: -8px 0px 0px 0px $color-dark-t2 inset,
              -6px 0px 0px 0px unquote("#{$primary-dark}" + "88") inset;
}
body *::-webkit-scrollbar-track:horizontal {
  background: url('/assets/images/scroll-h.png') $color-dark-t1;
  background-size: 20px 10px;
  background-position: bottom left;
  background-blend-mode: darken;
  background-repeat: repeat-x;
}
body *::-webkit-scrollbar-thumb:horizontal {
  background: url('/assets/images/scroll-arrow-h.png') 50% top no-repeat;
  background-size: 5px 9px;
  border-bottom: 2px solid $color-dark-t2;
  box-shadow: 0px -8px 0px 0px $color-dark-t2 inset,
              0px -6px 0px 0px unquote("#{$text-normal}" + "66") inset;
  background-clip: content-box;
}
body *:hover > *::-webkit-scrollbar-thumb:horizontal:hover,
body *::-webkit-scrollbar-thumb:horizontal:hover {
  background: url('/assets/images/scroll-arrow-h-h.png') 50% top no-repeat;
  background-size: 5px 9px;
  border-bottom: 2px solid $color-dark-t2;
  box-shadow: 0px -8px 0px 0px $color-dark-t2 inset,
              0px -6px 0px 0px unquote("#{$primary-dark}" + "33") inset;
}
body *:hover > *::-webkit-scrollbar-thumb:horizontal:active,
body *::-webkit-scrollbar-thumb:horizontal:active {
  background: url('/assets/images/scroll-arrow-h-a.png') 50% top no-repeat;
  background-size: 5px 9px;
  border-bottom: 2px solid $color-dark-t2;
  box-shadow: 0px -8px 0px 0px $color-dark-t2 inset,
              0px -6px 0px 0px unquote("#{$primary-dark}" + "88") inset;
}

