
$text-normal: mat-color($mat-cyan, 400);
$text-success: mat-color($mat-green, 400);
$text-warn: mat-color($mat-yellow, 600);
$text-error: mat-color($mat-orange, 400);
$secondary: mat-color($mat-cyan, 500, 0.7);
$secondary-light: mat-color($mat-cyan, 400);
$secondary-active: mat-color($mat-cyan, A200);
$secondary-active-light: mat-color($mat-cyan, 200);
$primary-light: mat-color($mat-grey, 200);
$primary: mat-color($mat-grey, 50);
$primary-dark: #FFFFFF;
$primary-very-dark: #000000;
$logo-bg: mat-color($mat-cyan, 700, 0.1);
$logo-fg: mat-color($mat-grey, 100);

$is-dark: true;
$use-bg-image: true;
$use-bg-filter: true;

$loading-img: url('./assets/images/loading-vador.gif');
$bg-image: url('./assets/images/background-space-min.png');
$bg-filter: $text-normal;

@import '~scss/particles.scss';

$dark-primary: mat-palette($mat-grey, 100, 50, 200);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn:  mat-palette($mat-orange);
$full-dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$dark-theme: map-merge($full-dark-theme, (foreground-text: $text-normal));
