body {
  margin: 0px;
}
.mat-list-item {
  width: calc(100% - 2px);
  margin-left: 1px;
}
.mat-list-item.hoverable {
  cursor: pointer;
}
.mat-list-item.hoverable:hover {
  box-shadow: 0px 0px 1px #CCCCCC;
}
.mat-list-item.hoverable:focus {
  outline: $primary auto 5px;
  box-shadow: none;
}
.container {
  padding: 10px;
  height: calc(100% - 20px);
}
router-outlet {
  display: none;
}
.loading-img {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: $loading-img;
  background-position: 50%;
  background-size: 24px;
}
mat-card,
.mat-card {
  height: calc(100% - 2 * 24px);
  overflow-y: auto;
}
.mat-list-icon {
  color: $text-normal;
}
.mat-list-item-content a.mat-warn,
.mat-list-item-content a .mat-icon.mat-warn {
  color: $text-warn;
}
.mat-list-item-content a,
.mat-list-item-content a .mat-icon {
  text-decoration: none;
  color: $primary;
}
.mat-list-item-content a,
.mat-list-item-content > p {
  text-align: center;
  display: block;
}
.mat-list .mat-list-item.team .mat-list-item-content {
  height: auto;
}
.mat-list .mat-list-item.mat-2-line {
  margin-bottom: 1px;
}
mat-spinner.mat-progress-spinner {
  position: absolute;
  top: 15vh;
  right: 50%;
  z-index: 4;
}
.loading-message {
  font-family:Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  text-align: center;
  display: block;
  font-size: 8pt;
  width: 300px;
  top: calc(15vh + 120px);
  right: calc(50% - 100px);
  z-index: 4;
}
span.success {
  font-style: italic;
  color: $text-success;
  font-size: 10pt;
}
.error-msg {
  color: $text-error;
}
.mat-card img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
span.timer {
  display: inline-block;
  float: left;
  text-align: center;
  width: auto;
  padding: 0px 0px 0px 20px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  font-family: "Consolas";
  font-weight: bold;
  font-size: 12pt;
}
.handle,
vertical-split-separator,
horizontal-split-separator {
  background-color: transparent !important;
  border-color: transparent !important;
  transition: background-color 0.25s;
  opacity: 0.33;
}
vertical-split-separator:hover,
horizontal-split-separator:hover{
  background-color: $secondary-active-light !important;
}
vertical-split-separator:active,
horizontal-split-separator:active {
  background-color: $secondary-active !important;
}
.editor-page-container.full-screen.instruction .upper-component .left-component,
.editor-page-container.full-screen.editor .upper-component .right-component,
.editor-page-container.full-screen.results .lower-component {
  height: calc(100% - 20px) !important;
  width: calc(100% - 20px) !important;
  position: absolute;
  z-index: 101;
}
.editor-page-container.full-screen.results .upper-component .left-component,
.editor-page-container.full-screen.results .upper-component .right-component,
.editor-page-container.full-screen.editor .upper-component .left-component,
.editor-page-container.full-screen.editor .lower-component,
.editor-page-container.full-screen.instruction .upper-component .right-component,
.editor-page-container.full-screen.instruction .lower-component {
  opacity: 0;
  width: 0px !important;
  height: 0px !important;
}
.console > .ace_gutter {
  float: left;
  position: relative;
  height: 100%;
  width: 40px;
}
.console > .ace_gutter > .ace_layer {
  float: none;
  position: relative;
  white-space: normal;
  width: 40px;
}
.console {
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
.console pre {
  overflow: hidden;
  overflow-x: auto;
}
.console .ace_static_highlight {
  white-space: pre;
  padding: 0px;
}
.tab-editor .console {
  margin-left: 30px;
  width: 70%;
}
.copy-pre-content {
  float:right;
  cursor: pointer;
}
.copy-pre-content > i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.8s;
}
*:hover  >.copy-pre-content > i {
  opacity: 1;
  transition: opacity 0.2s;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: unquote("#{$text-normal}" + "10");
}
*::-webkit-scrollbar-thumb {
  background: unquote("#{$text-normal}" + "66");
}
*::-webkit-scrollbar-track {
  background: unquote("#{$text-normal}" + "33");
}
*:hover > *::-webkit-scrollbar-thumb {
  background: unquote("#{$text-normal}" + "CC");
}
*:hover > *::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background: unquote("#{$primary-dark}" + "88");
}
*:hover > *::-webkit-scrollbar-thumb:active,
*::-webkit-scrollbar-thumb:active {
  background: unquote("#{$primary-dark}" + "DD");
}
::-webkit-scrollbar-corner,
::-webkit-resizer {
  background: transparent;
}
.mat-slide-toggle.mat-accent.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: mat-color(map-get($current-theme, primary));
}
.mat-slide-toggle.mat-accent.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: mat-color(map-get($current-theme, primary), 0.5);
}
.mat-slide-toggle.mat-accent:not(.mat-checked) .mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.12);
}
.mat-slide-toggle.mat-accent .mat-ripple-element {
  background-color: mat-color(map-get($current-theme, primary), 0.12);
}
.spinner-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: 3;
}
.mat-dialog-container {
  min-width: 400px;
  min-height: 100px;
}
.mat-dialog-container *:not(.material-icons) {
  font-family: roboto;
}
.mat-dialog-container a {
  text-decoration: none;
}
.mat-dialog-container a > .material-icons {
  vertical-align: middle;
}
.mat-dialog-container span {
  font-size: 14px;
  display: inline-block;
}
.mat-dialog-container h3 {
  margin-top: 0px;
}
.mat-dialog-container .mat-raised-button {
  margin-top: 15px
}
.mat-dialog-container .dynamic-dialog .mat-tab-body-wrapper {
  max-height: 60vh;
  overflow-y: auto;
  display: block;
}
button.gdpr-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  z-index: 1;
}
.full-width {
  width: 100%;
}
.right {
  float: right;
}
.red {
  color: red; 
}
table.user-infos {
  width: 80%;
  margin: auto;
  padding: 40px;
}
table.user-infos tr > td:first-child {
  min-width: 25%;
  text-align: right;
}
table.user-infos tr > td {
  padding-left: 15px;
}
